<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Webpack App</title>
        <script>
            window.relRoot="<%= relRoot %>";
        </script>
    </head>
    <body>
        <div class="app">
            <video class="app__video"></video>
            <canvas class="app__view"></canvas>
        </div>
    </body>
    
</html>
