@use "sass:math";
body{
  margin:0;
}
.c-start{
  position:fixed;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:50vw;
  font-size:10vw;
  text-align: center;
  cursor:pointer;
  border-radius: 9999px;
  border:1px solid #000;
  background:rgba(255,255,255,0.8);
  &--hidden{
    display:none;
  }
}
.c-button{
  display: inline-block;
  color: #000;
  border: 1px solid;
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  font-size: 4vmin;
  line-height: 6vmin;
  padding: 1vmin 2vmin;
  cursor: pointer;

  img{
    width: auto;
    height: 6vmin;
    vertical-align: bottom;
    margin-right: 1vmin;

  }
}


.p-app{
  &__webcam{
    display:none;
  }
  &__debug-view{
    position:absolute;
    left:0;
    top:0;
  }
  &__view{
    position:absolute;
    width:100vw;
    height:math.div(100vw * 720 , 1280);
  }
  &__ui{
    position:fixed;
    right:0;
    bottom:0;
  }
}