<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Webpack App</title>
        <script>
            window.relRoot="<%= relRoot %>";
        </script>
    </head>
    <body>
        <div class="p-app">
            <video class="p-app__video"></video>
            <canvas class="p-app__view"></canvas>
        </div>
        <a href="./recorder/">recorder/index.html</a>
    </body>
    
</html>
